<section class="overall-wrapper">
  <h2 class="text-center text-success pt-4">{{ title }} is working! 😁</h2>
  <div class="button-group container pt-5">
    <button class="btn btn-lg btn-outline-success">Area</button>
    <button class="btn btn-lg btn-outline-success">
      Digital Transfer Rate
    </button>
    <button class="btn btn-lg btn-outline-success">Digital Storage</button>
    <button class="btn btn-lg btn-outline-success">Energy</button>
    <button class="btn btn-lg btn-outline-success">Frequency</button>
    <button class="btn btn-lg btn-outline-success">Fuel Economy</button>
    <button class="btn btn-lg btn-outline-success">Length</button>
    <button class="btn btn-lg btn-outline-success">Mass</button>
    <button class="btn btn-lg btn-outline-success">Plane Angle</button>
    <button class="btn btn-lg btn-outline-success">Pressure</button>
    <button class="btn btn-lg btn-outline-success">Speed</button>
    <button class="btn btn-lg btn-outline-success" routerLink="/temperature">
      Temperature
    </button>
    <button class="btn btn-lg btn-outline-success">Time</button>
    <button class="btn btn-lg btn-outline-success">Volume</button>
    <button class="btn btn-lg btn-outline-success">Currency</button>
  </div>
</section>
